// List stylesheet: styles for info column on layout
// -------------------------------------------------------

.search-box {
	width: 100%;

	input {
		width: 100%;
	}
}

#complete-list {
	max-height: 38.143em;
	overflow-y: auto;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		border-bottom: 1px solid $light-gray;
	}
	.element {
		padding: 0.3em;
		border: 1px solid $light-gray;
		border-bottom: 0;

		.number {
			font-weight: bold;
			font-size: 1.1em;
			vertical-align: middle;
			margin-left: 1em;
			@extend .inline-block;
		}

		.name {
			font-size: 1em;
			vertical-align: middle;
			@extend .inline-block;
		}

		.thumb {
			background-image: url(http://img.pokemondb.net/sprites/black-white/montage-rby.png);
			width: 96px;
			height: 96px;
			margin: 0 0.15em;
			vertical-align: middle;
			@extend .inline-block;
		}
	}
}