/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$poke001-name: 'poke001';
$poke001-x: 40px;
$poke001-y: 0px;
$poke001-offset-x: -40px;
$poke001-offset-y: 0px;
$poke001-width: 40px;
$poke001-height: 30px;
$poke001-total-width: 440px;
$poke001-total-height: 420px;
$poke001-image: '../../img/spritesheet.png';
$poke001: 40px 0px -40px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke001';
$poke002-name: 'poke002';
$poke002-x: 120px;
$poke002-y: 270px;
$poke002-offset-x: -120px;
$poke002-offset-y: -270px;
$poke002-width: 40px;
$poke002-height: 30px;
$poke002-total-width: 440px;
$poke002-total-height: 420px;
$poke002-image: '../../img/spritesheet.png';
$poke002: 120px 270px -120px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke002';
$poke003-name: 'poke003';
$poke003-x: 0px;
$poke003-y: 30px;
$poke003-offset-x: 0px;
$poke003-offset-y: -30px;
$poke003-width: 40px;
$poke003-height: 30px;
$poke003-total-width: 440px;
$poke003-total-height: 420px;
$poke003-image: '../../img/spritesheet.png';
$poke003: 0px 30px 0px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke003';
$poke004-name: 'poke004';
$poke004-x: 40px;
$poke004-y: 30px;
$poke004-offset-x: -40px;
$poke004-offset-y: -30px;
$poke004-width: 40px;
$poke004-height: 30px;
$poke004-total-width: 440px;
$poke004-total-height: 420px;
$poke004-image: '../../img/spritesheet.png';
$poke004: 40px 30px -40px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke004';
$poke005-name: 'poke005';
$poke005-x: 80px;
$poke005-y: 0px;
$poke005-offset-x: -80px;
$poke005-offset-y: 0px;
$poke005-width: 40px;
$poke005-height: 30px;
$poke005-total-width: 440px;
$poke005-total-height: 420px;
$poke005-image: '../../img/spritesheet.png';
$poke005: 80px 0px -80px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke005';
$poke006-name: 'poke006';
$poke006-x: 80px;
$poke006-y: 30px;
$poke006-offset-x: -80px;
$poke006-offset-y: -30px;
$poke006-width: 40px;
$poke006-height: 30px;
$poke006-total-width: 440px;
$poke006-total-height: 420px;
$poke006-image: '../../img/spritesheet.png';
$poke006: 80px 30px -80px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke006';
$poke007-name: 'poke007';
$poke007-x: 0px;
$poke007-y: 60px;
$poke007-offset-x: 0px;
$poke007-offset-y: -60px;
$poke007-width: 40px;
$poke007-height: 30px;
$poke007-total-width: 440px;
$poke007-total-height: 420px;
$poke007-image: '../../img/spritesheet.png';
$poke007: 0px 60px 0px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke007';
$poke008-name: 'poke008';
$poke008-x: 40px;
$poke008-y: 60px;
$poke008-offset-x: -40px;
$poke008-offset-y: -60px;
$poke008-width: 40px;
$poke008-height: 30px;
$poke008-total-width: 440px;
$poke008-total-height: 420px;
$poke008-image: '../../img/spritesheet.png';
$poke008: 40px 60px -40px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke008';
$poke009-name: 'poke009';
$poke009-x: 80px;
$poke009-y: 60px;
$poke009-offset-x: -80px;
$poke009-offset-y: -60px;
$poke009-width: 40px;
$poke009-height: 30px;
$poke009-total-width: 440px;
$poke009-total-height: 420px;
$poke009-image: '../../img/spritesheet.png';
$poke009: 80px 60px -80px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke009';
$poke010-name: 'poke010';
$poke010-x: 0px;
$poke010-y: 90px;
$poke010-offset-x: 0px;
$poke010-offset-y: -90px;
$poke010-width: 40px;
$poke010-height: 30px;
$poke010-total-width: 440px;
$poke010-total-height: 420px;
$poke010-image: '../../img/spritesheet.png';
$poke010: 0px 90px 0px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke010';
$poke011-name: 'poke011';
$poke011-x: 40px;
$poke011-y: 90px;
$poke011-offset-x: -40px;
$poke011-offset-y: -90px;
$poke011-width: 40px;
$poke011-height: 30px;
$poke011-total-width: 440px;
$poke011-total-height: 420px;
$poke011-image: '../../img/spritesheet.png';
$poke011: 40px 90px -40px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke011';
$poke012-name: 'poke012';
$poke012-x: 80px;
$poke012-y: 90px;
$poke012-offset-x: -80px;
$poke012-offset-y: -90px;
$poke012-width: 40px;
$poke012-height: 30px;
$poke012-total-width: 440px;
$poke012-total-height: 420px;
$poke012-image: '../../img/spritesheet.png';
$poke012: 80px 90px -80px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke012';
$poke013-name: 'poke013';
$poke013-x: 120px;
$poke013-y: 0px;
$poke013-offset-x: -120px;
$poke013-offset-y: 0px;
$poke013-width: 40px;
$poke013-height: 30px;
$poke013-total-width: 440px;
$poke013-total-height: 420px;
$poke013-image: '../../img/spritesheet.png';
$poke013: 120px 0px -120px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke013';
$poke014-name: 'poke014';
$poke014-x: 120px;
$poke014-y: 30px;
$poke014-offset-x: -120px;
$poke014-offset-y: -30px;
$poke014-width: 40px;
$poke014-height: 30px;
$poke014-total-width: 440px;
$poke014-total-height: 420px;
$poke014-image: '../../img/spritesheet.png';
$poke014: 120px 30px -120px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke014';
$poke016-name: 'poke016';
$poke016-x: 120px;
$poke016-y: 60px;
$poke016-offset-x: -120px;
$poke016-offset-y: -60px;
$poke016-width: 40px;
$poke016-height: 30px;
$poke016-total-width: 440px;
$poke016-total-height: 420px;
$poke016-image: '../../img/spritesheet.png';
$poke016: 120px 60px -120px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke016';
$poke017-name: 'poke017';
$poke017-x: 120px;
$poke017-y: 90px;
$poke017-offset-x: -120px;
$poke017-offset-y: -90px;
$poke017-width: 40px;
$poke017-height: 30px;
$poke017-total-width: 440px;
$poke017-total-height: 420px;
$poke017-image: '../../img/spritesheet.png';
$poke017: 120px 90px -120px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke017';
$poke018-name: 'poke018';
$poke018-x: 0px;
$poke018-y: 120px;
$poke018-offset-x: 0px;
$poke018-offset-y: -120px;
$poke018-width: 40px;
$poke018-height: 30px;
$poke018-total-width: 440px;
$poke018-total-height: 420px;
$poke018-image: '../../img/spritesheet.png';
$poke018: 0px 120px 0px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke018';
$poke019-name: 'poke019';
$poke019-x: 40px;
$poke019-y: 120px;
$poke019-offset-x: -40px;
$poke019-offset-y: -120px;
$poke019-width: 40px;
$poke019-height: 30px;
$poke019-total-width: 440px;
$poke019-total-height: 420px;
$poke019-image: '../../img/spritesheet.png';
$poke019: 40px 120px -40px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke019';
$poke020-name: 'poke020';
$poke020-x: 80px;
$poke020-y: 120px;
$poke020-offset-x: -80px;
$poke020-offset-y: -120px;
$poke020-width: 40px;
$poke020-height: 30px;
$poke020-total-width: 440px;
$poke020-total-height: 420px;
$poke020-image: '../../img/spritesheet.png';
$poke020: 80px 120px -80px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke020';
$poke021-name: 'poke021';
$poke021-x: 120px;
$poke021-y: 120px;
$poke021-offset-x: -120px;
$poke021-offset-y: -120px;
$poke021-width: 40px;
$poke021-height: 30px;
$poke021-total-width: 440px;
$poke021-total-height: 420px;
$poke021-image: '../../img/spritesheet.png';
$poke021: 120px 120px -120px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke021';
$poke022-name: 'poke022';
$poke022-x: 160px;
$poke022-y: 0px;
$poke022-offset-x: -160px;
$poke022-offset-y: 0px;
$poke022-width: 40px;
$poke022-height: 30px;
$poke022-total-width: 440px;
$poke022-total-height: 420px;
$poke022-image: '../../img/spritesheet.png';
$poke022: 160px 0px -160px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke022';
$poke023-name: 'poke023';
$poke023-x: 160px;
$poke023-y: 30px;
$poke023-offset-x: -160px;
$poke023-offset-y: -30px;
$poke023-width: 40px;
$poke023-height: 30px;
$poke023-total-width: 440px;
$poke023-total-height: 420px;
$poke023-image: '../../img/spritesheet.png';
$poke023: 160px 30px -160px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke023';
$poke024-name: 'poke024';
$poke024-x: 160px;
$poke024-y: 60px;
$poke024-offset-x: -160px;
$poke024-offset-y: -60px;
$poke024-width: 40px;
$poke024-height: 30px;
$poke024-total-width: 440px;
$poke024-total-height: 420px;
$poke024-image: '../../img/spritesheet.png';
$poke024: 160px 60px -160px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke024';
$poke025-name: 'poke025';
$poke025-x: 160px;
$poke025-y: 90px;
$poke025-offset-x: -160px;
$poke025-offset-y: -90px;
$poke025-width: 40px;
$poke025-height: 30px;
$poke025-total-width: 440px;
$poke025-total-height: 420px;
$poke025-image: '../../img/spritesheet.png';
$poke025: 160px 90px -160px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke025';
$poke026-name: 'poke026';
$poke026-x: 160px;
$poke026-y: 120px;
$poke026-offset-x: -160px;
$poke026-offset-y: -120px;
$poke026-width: 40px;
$poke026-height: 30px;
$poke026-total-width: 440px;
$poke026-total-height: 420px;
$poke026-image: '../../img/spritesheet.png';
$poke026: 160px 120px -160px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke026';
$poke027-name: 'poke027';
$poke027-x: 0px;
$poke027-y: 150px;
$poke027-offset-x: 0px;
$poke027-offset-y: -150px;
$poke027-width: 40px;
$poke027-height: 30px;
$poke027-total-width: 440px;
$poke027-total-height: 420px;
$poke027-image: '../../img/spritesheet.png';
$poke027: 0px 150px 0px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke027';
$poke028-name: 'poke028';
$poke028-x: 40px;
$poke028-y: 150px;
$poke028-offset-x: -40px;
$poke028-offset-y: -150px;
$poke028-width: 40px;
$poke028-height: 30px;
$poke028-total-width: 440px;
$poke028-total-height: 420px;
$poke028-image: '../../img/spritesheet.png';
$poke028: 40px 150px -40px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke028';
$poke029-name: 'poke029';
$poke029-x: 80px;
$poke029-y: 150px;
$poke029-offset-x: -80px;
$poke029-offset-y: -150px;
$poke029-width: 40px;
$poke029-height: 30px;
$poke029-total-width: 440px;
$poke029-total-height: 420px;
$poke029-image: '../../img/spritesheet.png';
$poke029: 80px 150px -80px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke029';
$poke030-name: 'poke030';
$poke030-x: 120px;
$poke030-y: 150px;
$poke030-offset-x: -120px;
$poke030-offset-y: -150px;
$poke030-width: 40px;
$poke030-height: 30px;
$poke030-total-width: 440px;
$poke030-total-height: 420px;
$poke030-image: '../../img/spritesheet.png';
$poke030: 120px 150px -120px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke030';
$poke031-name: 'poke031';
$poke031-x: 160px;
$poke031-y: 150px;
$poke031-offset-x: -160px;
$poke031-offset-y: -150px;
$poke031-width: 40px;
$poke031-height: 30px;
$poke031-total-width: 440px;
$poke031-total-height: 420px;
$poke031-image: '../../img/spritesheet.png';
$poke031: 160px 150px -160px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke031';
$poke032-name: 'poke032';
$poke032-x: 200px;
$poke032-y: 0px;
$poke032-offset-x: -200px;
$poke032-offset-y: 0px;
$poke032-width: 40px;
$poke032-height: 30px;
$poke032-total-width: 440px;
$poke032-total-height: 420px;
$poke032-image: '../../img/spritesheet.png';
$poke032: 200px 0px -200px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke032';
$poke033-name: 'poke033';
$poke033-x: 200px;
$poke033-y: 30px;
$poke033-offset-x: -200px;
$poke033-offset-y: -30px;
$poke033-width: 40px;
$poke033-height: 30px;
$poke033-total-width: 440px;
$poke033-total-height: 420px;
$poke033-image: '../../img/spritesheet.png';
$poke033: 200px 30px -200px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke033';
$poke034-name: 'poke034';
$poke034-x: 200px;
$poke034-y: 60px;
$poke034-offset-x: -200px;
$poke034-offset-y: -60px;
$poke034-width: 40px;
$poke034-height: 30px;
$poke034-total-width: 440px;
$poke034-total-height: 420px;
$poke034-image: '../../img/spritesheet.png';
$poke034: 200px 60px -200px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke034';
$poke035-name: 'poke035';
$poke035-x: 200px;
$poke035-y: 90px;
$poke035-offset-x: -200px;
$poke035-offset-y: -90px;
$poke035-width: 40px;
$poke035-height: 30px;
$poke035-total-width: 440px;
$poke035-total-height: 420px;
$poke035-image: '../../img/spritesheet.png';
$poke035: 200px 90px -200px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke035';
$poke036-name: 'poke036';
$poke036-x: 200px;
$poke036-y: 120px;
$poke036-offset-x: -200px;
$poke036-offset-y: -120px;
$poke036-width: 40px;
$poke036-height: 30px;
$poke036-total-width: 440px;
$poke036-total-height: 420px;
$poke036-image: '../../img/spritesheet.png';
$poke036: 200px 120px -200px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke036';
$poke037-name: 'poke037';
$poke037-x: 200px;
$poke037-y: 150px;
$poke037-offset-x: -200px;
$poke037-offset-y: -150px;
$poke037-width: 40px;
$poke037-height: 30px;
$poke037-total-width: 440px;
$poke037-total-height: 420px;
$poke037-image: '../../img/spritesheet.png';
$poke037: 200px 150px -200px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke037';
$poke038-name: 'poke038';
$poke038-x: 0px;
$poke038-y: 180px;
$poke038-offset-x: 0px;
$poke038-offset-y: -180px;
$poke038-width: 40px;
$poke038-height: 30px;
$poke038-total-width: 440px;
$poke038-total-height: 420px;
$poke038-image: '../../img/spritesheet.png';
$poke038: 0px 180px 0px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke038';
$poke039-name: 'poke039';
$poke039-x: 40px;
$poke039-y: 180px;
$poke039-offset-x: -40px;
$poke039-offset-y: -180px;
$poke039-width: 40px;
$poke039-height: 30px;
$poke039-total-width: 440px;
$poke039-total-height: 420px;
$poke039-image: '../../img/spritesheet.png';
$poke039: 40px 180px -40px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke039';
$poke040-name: 'poke040';
$poke040-x: 80px;
$poke040-y: 180px;
$poke040-offset-x: -80px;
$poke040-offset-y: -180px;
$poke040-width: 40px;
$poke040-height: 30px;
$poke040-total-width: 440px;
$poke040-total-height: 420px;
$poke040-image: '../../img/spritesheet.png';
$poke040: 80px 180px -80px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke040';
$poke041-name: 'poke041';
$poke041-x: 120px;
$poke041-y: 180px;
$poke041-offset-x: -120px;
$poke041-offset-y: -180px;
$poke041-width: 40px;
$poke041-height: 30px;
$poke041-total-width: 440px;
$poke041-total-height: 420px;
$poke041-image: '../../img/spritesheet.png';
$poke041: 120px 180px -120px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke041';
$poke042-name: 'poke042';
$poke042-x: 160px;
$poke042-y: 180px;
$poke042-offset-x: -160px;
$poke042-offset-y: -180px;
$poke042-width: 40px;
$poke042-height: 30px;
$poke042-total-width: 440px;
$poke042-total-height: 420px;
$poke042-image: '../../img/spritesheet.png';
$poke042: 160px 180px -160px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke042';
$poke043-name: 'poke043';
$poke043-x: 200px;
$poke043-y: 180px;
$poke043-offset-x: -200px;
$poke043-offset-y: -180px;
$poke043-width: 40px;
$poke043-height: 30px;
$poke043-total-width: 440px;
$poke043-total-height: 420px;
$poke043-image: '../../img/spritesheet.png';
$poke043: 200px 180px -200px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke043';
$poke044-name: 'poke044';
$poke044-x: 0px;
$poke044-y: 210px;
$poke044-offset-x: 0px;
$poke044-offset-y: -210px;
$poke044-width: 40px;
$poke044-height: 30px;
$poke044-total-width: 440px;
$poke044-total-height: 420px;
$poke044-image: '../../img/spritesheet.png';
$poke044: 0px 210px 0px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke044';
$poke045-name: 'poke045';
$poke045-x: 40px;
$poke045-y: 210px;
$poke045-offset-x: -40px;
$poke045-offset-y: -210px;
$poke045-width: 40px;
$poke045-height: 30px;
$poke045-total-width: 440px;
$poke045-total-height: 420px;
$poke045-image: '../../img/spritesheet.png';
$poke045: 40px 210px -40px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke045';
$poke046-name: 'poke046';
$poke046-x: 80px;
$poke046-y: 210px;
$poke046-offset-x: -80px;
$poke046-offset-y: -210px;
$poke046-width: 40px;
$poke046-height: 30px;
$poke046-total-width: 440px;
$poke046-total-height: 420px;
$poke046-image: '../../img/spritesheet.png';
$poke046: 80px 210px -80px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke046';
$poke047-name: 'poke047';
$poke047-x: 120px;
$poke047-y: 210px;
$poke047-offset-x: -120px;
$poke047-offset-y: -210px;
$poke047-width: 40px;
$poke047-height: 30px;
$poke047-total-width: 440px;
$poke047-total-height: 420px;
$poke047-image: '../../img/spritesheet.png';
$poke047: 120px 210px -120px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke047';
$poke048-name: 'poke048';
$poke048-x: 160px;
$poke048-y: 210px;
$poke048-offset-x: -160px;
$poke048-offset-y: -210px;
$poke048-width: 40px;
$poke048-height: 30px;
$poke048-total-width: 440px;
$poke048-total-height: 420px;
$poke048-image: '../../img/spritesheet.png';
$poke048: 160px 210px -160px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke048';
$poke049-name: 'poke049';
$poke049-x: 200px;
$poke049-y: 210px;
$poke049-offset-x: -200px;
$poke049-offset-y: -210px;
$poke049-width: 40px;
$poke049-height: 30px;
$poke049-total-width: 440px;
$poke049-total-height: 420px;
$poke049-image: '../../img/spritesheet.png';
$poke049: 200px 210px -200px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke049';
$poke050-name: 'poke050';
$poke050-x: 240px;
$poke050-y: 0px;
$poke050-offset-x: -240px;
$poke050-offset-y: 0px;
$poke050-width: 40px;
$poke050-height: 30px;
$poke050-total-width: 440px;
$poke050-total-height: 420px;
$poke050-image: '../../img/spritesheet.png';
$poke050: 240px 0px -240px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke050';
$poke051-name: 'poke051';
$poke051-x: 240px;
$poke051-y: 30px;
$poke051-offset-x: -240px;
$poke051-offset-y: -30px;
$poke051-width: 40px;
$poke051-height: 30px;
$poke051-total-width: 440px;
$poke051-total-height: 420px;
$poke051-image: '../../img/spritesheet.png';
$poke051: 240px 30px -240px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke051';
$poke052-name: 'poke052';
$poke052-x: 240px;
$poke052-y: 60px;
$poke052-offset-x: -240px;
$poke052-offset-y: -60px;
$poke052-width: 40px;
$poke052-height: 30px;
$poke052-total-width: 440px;
$poke052-total-height: 420px;
$poke052-image: '../../img/spritesheet.png';
$poke052: 240px 60px -240px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke052';
$poke053-name: 'poke053';
$poke053-x: 240px;
$poke053-y: 90px;
$poke053-offset-x: -240px;
$poke053-offset-y: -90px;
$poke053-width: 40px;
$poke053-height: 30px;
$poke053-total-width: 440px;
$poke053-total-height: 420px;
$poke053-image: '../../img/spritesheet.png';
$poke053: 240px 90px -240px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke053';
$poke054-name: 'poke054';
$poke054-x: 240px;
$poke054-y: 120px;
$poke054-offset-x: -240px;
$poke054-offset-y: -120px;
$poke054-width: 40px;
$poke054-height: 30px;
$poke054-total-width: 440px;
$poke054-total-height: 420px;
$poke054-image: '../../img/spritesheet.png';
$poke054: 240px 120px -240px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke054';
$poke055-name: 'poke055';
$poke055-x: 240px;
$poke055-y: 150px;
$poke055-offset-x: -240px;
$poke055-offset-y: -150px;
$poke055-width: 40px;
$poke055-height: 30px;
$poke055-total-width: 440px;
$poke055-total-height: 420px;
$poke055-image: '../../img/spritesheet.png';
$poke055: 240px 150px -240px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke055';
$poke056-name: 'poke056';
$poke056-x: 240px;
$poke056-y: 180px;
$poke056-offset-x: -240px;
$poke056-offset-y: -180px;
$poke056-width: 40px;
$poke056-height: 30px;
$poke056-total-width: 440px;
$poke056-total-height: 420px;
$poke056-image: '../../img/spritesheet.png';
$poke056: 240px 180px -240px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke056';
$poke057-name: 'poke057';
$poke057-x: 240px;
$poke057-y: 210px;
$poke057-offset-x: -240px;
$poke057-offset-y: -210px;
$poke057-width: 40px;
$poke057-height: 30px;
$poke057-total-width: 440px;
$poke057-total-height: 420px;
$poke057-image: '../../img/spritesheet.png';
$poke057: 240px 210px -240px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke057';
$poke058-name: 'poke058';
$poke058-x: 0px;
$poke058-y: 240px;
$poke058-offset-x: 0px;
$poke058-offset-y: -240px;
$poke058-width: 40px;
$poke058-height: 30px;
$poke058-total-width: 440px;
$poke058-total-height: 420px;
$poke058-image: '../../img/spritesheet.png';
$poke058: 0px 240px 0px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke058';
$poke059-name: 'poke059';
$poke059-x: 40px;
$poke059-y: 240px;
$poke059-offset-x: -40px;
$poke059-offset-y: -240px;
$poke059-width: 40px;
$poke059-height: 30px;
$poke059-total-width: 440px;
$poke059-total-height: 420px;
$poke059-image: '../../img/spritesheet.png';
$poke059: 40px 240px -40px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke059';
$poke060-name: 'poke060';
$poke060-x: 80px;
$poke060-y: 240px;
$poke060-offset-x: -80px;
$poke060-offset-y: -240px;
$poke060-width: 40px;
$poke060-height: 30px;
$poke060-total-width: 440px;
$poke060-total-height: 420px;
$poke060-image: '../../img/spritesheet.png';
$poke060: 80px 240px -80px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke060';
$poke061-name: 'poke061';
$poke061-x: 120px;
$poke061-y: 240px;
$poke061-offset-x: -120px;
$poke061-offset-y: -240px;
$poke061-width: 40px;
$poke061-height: 30px;
$poke061-total-width: 440px;
$poke061-total-height: 420px;
$poke061-image: '../../img/spritesheet.png';
$poke061: 120px 240px -120px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke061';
$poke062-name: 'poke062';
$poke062-x: 160px;
$poke062-y: 240px;
$poke062-offset-x: -160px;
$poke062-offset-y: -240px;
$poke062-width: 40px;
$poke062-height: 30px;
$poke062-total-width: 440px;
$poke062-total-height: 420px;
$poke062-image: '../../img/spritesheet.png';
$poke062: 160px 240px -160px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke062';
$poke063-name: 'poke063';
$poke063-x: 200px;
$poke063-y: 240px;
$poke063-offset-x: -200px;
$poke063-offset-y: -240px;
$poke063-width: 40px;
$poke063-height: 30px;
$poke063-total-width: 440px;
$poke063-total-height: 420px;
$poke063-image: '../../img/spritesheet.png';
$poke063: 200px 240px -200px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke063';
$poke064-name: 'poke064';
$poke064-x: 240px;
$poke064-y: 240px;
$poke064-offset-x: -240px;
$poke064-offset-y: -240px;
$poke064-width: 40px;
$poke064-height: 30px;
$poke064-total-width: 440px;
$poke064-total-height: 420px;
$poke064-image: '../../img/spritesheet.png';
$poke064: 240px 240px -240px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke064';
$poke065-name: 'poke065';
$poke065-x: 280px;
$poke065-y: 0px;
$poke065-offset-x: -280px;
$poke065-offset-y: 0px;
$poke065-width: 40px;
$poke065-height: 30px;
$poke065-total-width: 440px;
$poke065-total-height: 420px;
$poke065-image: '../../img/spritesheet.png';
$poke065: 280px 0px -280px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke065';
$poke066-name: 'poke066';
$poke066-x: 280px;
$poke066-y: 30px;
$poke066-offset-x: -280px;
$poke066-offset-y: -30px;
$poke066-width: 40px;
$poke066-height: 30px;
$poke066-total-width: 440px;
$poke066-total-height: 420px;
$poke066-image: '../../img/spritesheet.png';
$poke066: 280px 30px -280px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke066';
$poke067-name: 'poke067';
$poke067-x: 280px;
$poke067-y: 60px;
$poke067-offset-x: -280px;
$poke067-offset-y: -60px;
$poke067-width: 40px;
$poke067-height: 30px;
$poke067-total-width: 440px;
$poke067-total-height: 420px;
$poke067-image: '../../img/spritesheet.png';
$poke067: 280px 60px -280px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke067';
$poke068-name: 'poke068';
$poke068-x: 280px;
$poke068-y: 90px;
$poke068-offset-x: -280px;
$poke068-offset-y: -90px;
$poke068-width: 40px;
$poke068-height: 30px;
$poke068-total-width: 440px;
$poke068-total-height: 420px;
$poke068-image: '../../img/spritesheet.png';
$poke068: 280px 90px -280px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke068';
$poke069-name: 'poke069';
$poke069-x: 280px;
$poke069-y: 120px;
$poke069-offset-x: -280px;
$poke069-offset-y: -120px;
$poke069-width: 40px;
$poke069-height: 30px;
$poke069-total-width: 440px;
$poke069-total-height: 420px;
$poke069-image: '../../img/spritesheet.png';
$poke069: 280px 120px -280px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke069';
$poke070-name: 'poke070';
$poke070-x: 280px;
$poke070-y: 150px;
$poke070-offset-x: -280px;
$poke070-offset-y: -150px;
$poke070-width: 40px;
$poke070-height: 30px;
$poke070-total-width: 440px;
$poke070-total-height: 420px;
$poke070-image: '../../img/spritesheet.png';
$poke070: 280px 150px -280px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke070';
$poke071-name: 'poke071';
$poke071-x: 280px;
$poke071-y: 180px;
$poke071-offset-x: -280px;
$poke071-offset-y: -180px;
$poke071-width: 40px;
$poke071-height: 30px;
$poke071-total-width: 440px;
$poke071-total-height: 420px;
$poke071-image: '../../img/spritesheet.png';
$poke071: 280px 180px -280px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke071';
$poke072-name: 'poke072';
$poke072-x: 280px;
$poke072-y: 210px;
$poke072-offset-x: -280px;
$poke072-offset-y: -210px;
$poke072-width: 40px;
$poke072-height: 30px;
$poke072-total-width: 440px;
$poke072-total-height: 420px;
$poke072-image: '../../img/spritesheet.png';
$poke072: 280px 210px -280px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke072';
$poke073-name: 'poke073';
$poke073-x: 280px;
$poke073-y: 240px;
$poke073-offset-x: -280px;
$poke073-offset-y: -240px;
$poke073-width: 40px;
$poke073-height: 30px;
$poke073-total-width: 440px;
$poke073-total-height: 420px;
$poke073-image: '../../img/spritesheet.png';
$poke073: 280px 240px -280px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke073';
$poke074-name: 'poke074';
$poke074-x: 0px;
$poke074-y: 270px;
$poke074-offset-x: 0px;
$poke074-offset-y: -270px;
$poke074-width: 40px;
$poke074-height: 30px;
$poke074-total-width: 440px;
$poke074-total-height: 420px;
$poke074-image: '../../img/spritesheet.png';
$poke074: 0px 270px 0px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke074';
$poke075-name: 'poke075';
$poke075-x: 40px;
$poke075-y: 270px;
$poke075-offset-x: -40px;
$poke075-offset-y: -270px;
$poke075-width: 40px;
$poke075-height: 30px;
$poke075-total-width: 440px;
$poke075-total-height: 420px;
$poke075-image: '../../img/spritesheet.png';
$poke075: 40px 270px -40px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke075';
$poke076-name: 'poke076';
$poke076-x: 80px;
$poke076-y: 270px;
$poke076-offset-x: -80px;
$poke076-offset-y: -270px;
$poke076-width: 40px;
$poke076-height: 30px;
$poke076-total-width: 440px;
$poke076-total-height: 420px;
$poke076-image: '../../img/spritesheet.png';
$poke076: 80px 270px -80px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke076';
$poke077-name: 'poke077';
$poke077-x: 0px;
$poke077-y: 0px;
$poke077-offset-x: 0px;
$poke077-offset-y: 0px;
$poke077-width: 40px;
$poke077-height: 30px;
$poke077-total-width: 440px;
$poke077-total-height: 420px;
$poke077-image: '../../img/spritesheet.png';
$poke077: 0px 0px 0px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke077';
$poke078-name: 'poke078';
$poke078-x: 160px;
$poke078-y: 270px;
$poke078-offset-x: -160px;
$poke078-offset-y: -270px;
$poke078-width: 40px;
$poke078-height: 30px;
$poke078-total-width: 440px;
$poke078-total-height: 420px;
$poke078-image: '../../img/spritesheet.png';
$poke078: 160px 270px -160px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke078';
$poke079-name: 'poke079';
$poke079-x: 200px;
$poke079-y: 270px;
$poke079-offset-x: -200px;
$poke079-offset-y: -270px;
$poke079-width: 40px;
$poke079-height: 30px;
$poke079-total-width: 440px;
$poke079-total-height: 420px;
$poke079-image: '../../img/spritesheet.png';
$poke079: 200px 270px -200px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke079';
$poke080-name: 'poke080';
$poke080-x: 240px;
$poke080-y: 270px;
$poke080-offset-x: -240px;
$poke080-offset-y: -270px;
$poke080-width: 40px;
$poke080-height: 30px;
$poke080-total-width: 440px;
$poke080-total-height: 420px;
$poke080-image: '../../img/spritesheet.png';
$poke080: 240px 270px -240px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke080';
$poke081-name: 'poke081';
$poke081-x: 280px;
$poke081-y: 270px;
$poke081-offset-x: -280px;
$poke081-offset-y: -270px;
$poke081-width: 40px;
$poke081-height: 30px;
$poke081-total-width: 440px;
$poke081-total-height: 420px;
$poke081-image: '../../img/spritesheet.png';
$poke081: 280px 270px -280px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke081';
$poke082-name: 'poke082';
$poke082-x: 320px;
$poke082-y: 0px;
$poke082-offset-x: -320px;
$poke082-offset-y: 0px;
$poke082-width: 40px;
$poke082-height: 30px;
$poke082-total-width: 440px;
$poke082-total-height: 420px;
$poke082-image: '../../img/spritesheet.png';
$poke082: 320px 0px -320px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke082';
$poke083-name: 'poke083';
$poke083-x: 320px;
$poke083-y: 30px;
$poke083-offset-x: -320px;
$poke083-offset-y: -30px;
$poke083-width: 40px;
$poke083-height: 30px;
$poke083-total-width: 440px;
$poke083-total-height: 420px;
$poke083-image: '../../img/spritesheet.png';
$poke083: 320px 30px -320px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke083';
$poke084-name: 'poke084';
$poke084-x: 320px;
$poke084-y: 60px;
$poke084-offset-x: -320px;
$poke084-offset-y: -60px;
$poke084-width: 40px;
$poke084-height: 30px;
$poke084-total-width: 440px;
$poke084-total-height: 420px;
$poke084-image: '../../img/spritesheet.png';
$poke084: 320px 60px -320px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke084';
$poke085-name: 'poke085';
$poke085-x: 320px;
$poke085-y: 90px;
$poke085-offset-x: -320px;
$poke085-offset-y: -90px;
$poke085-width: 40px;
$poke085-height: 30px;
$poke085-total-width: 440px;
$poke085-total-height: 420px;
$poke085-image: '../../img/spritesheet.png';
$poke085: 320px 90px -320px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke085';
$poke086-name: 'poke086';
$poke086-x: 320px;
$poke086-y: 120px;
$poke086-offset-x: -320px;
$poke086-offset-y: -120px;
$poke086-width: 40px;
$poke086-height: 30px;
$poke086-total-width: 440px;
$poke086-total-height: 420px;
$poke086-image: '../../img/spritesheet.png';
$poke086: 320px 120px -320px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke086';
$poke087-name: 'poke087';
$poke087-x: 320px;
$poke087-y: 150px;
$poke087-offset-x: -320px;
$poke087-offset-y: -150px;
$poke087-width: 40px;
$poke087-height: 30px;
$poke087-total-width: 440px;
$poke087-total-height: 420px;
$poke087-image: '../../img/spritesheet.png';
$poke087: 320px 150px -320px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke087';
$poke088-name: 'poke088';
$poke088-x: 320px;
$poke088-y: 180px;
$poke088-offset-x: -320px;
$poke088-offset-y: -180px;
$poke088-width: 40px;
$poke088-height: 30px;
$poke088-total-width: 440px;
$poke088-total-height: 420px;
$poke088-image: '../../img/spritesheet.png';
$poke088: 320px 180px -320px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke088';
$poke089-name: 'poke089';
$poke089-x: 320px;
$poke089-y: 210px;
$poke089-offset-x: -320px;
$poke089-offset-y: -210px;
$poke089-width: 40px;
$poke089-height: 30px;
$poke089-total-width: 440px;
$poke089-total-height: 420px;
$poke089-image: '../../img/spritesheet.png';
$poke089: 320px 210px -320px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke089';
$poke090-name: 'poke090';
$poke090-x: 320px;
$poke090-y: 240px;
$poke090-offset-x: -320px;
$poke090-offset-y: -240px;
$poke090-width: 40px;
$poke090-height: 30px;
$poke090-total-width: 440px;
$poke090-total-height: 420px;
$poke090-image: '../../img/spritesheet.png';
$poke090: 320px 240px -320px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke090';
$poke091-name: 'poke091';
$poke091-x: 320px;
$poke091-y: 270px;
$poke091-offset-x: -320px;
$poke091-offset-y: -270px;
$poke091-width: 40px;
$poke091-height: 30px;
$poke091-total-width: 440px;
$poke091-total-height: 420px;
$poke091-image: '../../img/spritesheet.png';
$poke091: 320px 270px -320px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke091';
$poke092-name: 'poke092';
$poke092-x: 0px;
$poke092-y: 300px;
$poke092-offset-x: 0px;
$poke092-offset-y: -300px;
$poke092-width: 40px;
$poke092-height: 30px;
$poke092-total-width: 440px;
$poke092-total-height: 420px;
$poke092-image: '../../img/spritesheet.png';
$poke092: 0px 300px 0px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke092';
$poke093-name: 'poke093';
$poke093-x: 40px;
$poke093-y: 300px;
$poke093-offset-x: -40px;
$poke093-offset-y: -300px;
$poke093-width: 40px;
$poke093-height: 30px;
$poke093-total-width: 440px;
$poke093-total-height: 420px;
$poke093-image: '../../img/spritesheet.png';
$poke093: 40px 300px -40px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke093';
$poke094-name: 'poke094';
$poke094-x: 80px;
$poke094-y: 300px;
$poke094-offset-x: -80px;
$poke094-offset-y: -300px;
$poke094-width: 40px;
$poke094-height: 30px;
$poke094-total-width: 440px;
$poke094-total-height: 420px;
$poke094-image: '../../img/spritesheet.png';
$poke094: 80px 300px -80px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke094';
$poke095-name: 'poke095';
$poke095-x: 120px;
$poke095-y: 300px;
$poke095-offset-x: -120px;
$poke095-offset-y: -300px;
$poke095-width: 40px;
$poke095-height: 30px;
$poke095-total-width: 440px;
$poke095-total-height: 420px;
$poke095-image: '../../img/spritesheet.png';
$poke095: 120px 300px -120px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke095';
$poke096-name: 'poke096';
$poke096-x: 160px;
$poke096-y: 300px;
$poke096-offset-x: -160px;
$poke096-offset-y: -300px;
$poke096-width: 40px;
$poke096-height: 30px;
$poke096-total-width: 440px;
$poke096-total-height: 420px;
$poke096-image: '../../img/spritesheet.png';
$poke096: 160px 300px -160px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke096';
$poke097-name: 'poke097';
$poke097-x: 200px;
$poke097-y: 300px;
$poke097-offset-x: -200px;
$poke097-offset-y: -300px;
$poke097-width: 40px;
$poke097-height: 30px;
$poke097-total-width: 440px;
$poke097-total-height: 420px;
$poke097-image: '../../img/spritesheet.png';
$poke097: 200px 300px -200px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke097';
$poke098-name: 'poke098';
$poke098-x: 240px;
$poke098-y: 300px;
$poke098-offset-x: -240px;
$poke098-offset-y: -300px;
$poke098-width: 40px;
$poke098-height: 30px;
$poke098-total-width: 440px;
$poke098-total-height: 420px;
$poke098-image: '../../img/spritesheet.png';
$poke098: 240px 300px -240px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke098';
$poke099-name: 'poke099';
$poke099-x: 280px;
$poke099-y: 300px;
$poke099-offset-x: -280px;
$poke099-offset-y: -300px;
$poke099-width: 40px;
$poke099-height: 30px;
$poke099-total-width: 440px;
$poke099-total-height: 420px;
$poke099-image: '../../img/spritesheet.png';
$poke099: 280px 300px -280px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke099';
$poke100-name: 'poke100';
$poke100-x: 320px;
$poke100-y: 300px;
$poke100-offset-x: -320px;
$poke100-offset-y: -300px;
$poke100-width: 40px;
$poke100-height: 30px;
$poke100-total-width: 440px;
$poke100-total-height: 420px;
$poke100-image: '../../img/spritesheet.png';
$poke100: 320px 300px -320px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke100';
$poke101-name: 'poke101';
$poke101-x: 0px;
$poke101-y: 330px;
$poke101-offset-x: 0px;
$poke101-offset-y: -330px;
$poke101-width: 40px;
$poke101-height: 30px;
$poke101-total-width: 440px;
$poke101-total-height: 420px;
$poke101-image: '../../img/spritesheet.png';
$poke101: 0px 330px 0px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke101';
$poke102-name: 'poke102';
$poke102-x: 40px;
$poke102-y: 330px;
$poke102-offset-x: -40px;
$poke102-offset-y: -330px;
$poke102-width: 40px;
$poke102-height: 30px;
$poke102-total-width: 440px;
$poke102-total-height: 420px;
$poke102-image: '../../img/spritesheet.png';
$poke102: 40px 330px -40px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke102';
$poke103-name: 'poke103';
$poke103-x: 80px;
$poke103-y: 330px;
$poke103-offset-x: -80px;
$poke103-offset-y: -330px;
$poke103-width: 40px;
$poke103-height: 30px;
$poke103-total-width: 440px;
$poke103-total-height: 420px;
$poke103-image: '../../img/spritesheet.png';
$poke103: 80px 330px -80px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke103';
$poke104-name: 'poke104';
$poke104-x: 120px;
$poke104-y: 330px;
$poke104-offset-x: -120px;
$poke104-offset-y: -330px;
$poke104-width: 40px;
$poke104-height: 30px;
$poke104-total-width: 440px;
$poke104-total-height: 420px;
$poke104-image: '../../img/spritesheet.png';
$poke104: 120px 330px -120px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke104';
$poke105-name: 'poke105';
$poke105-x: 160px;
$poke105-y: 330px;
$poke105-offset-x: -160px;
$poke105-offset-y: -330px;
$poke105-width: 40px;
$poke105-height: 30px;
$poke105-total-width: 440px;
$poke105-total-height: 420px;
$poke105-image: '../../img/spritesheet.png';
$poke105: 160px 330px -160px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke105';
$poke106-name: 'poke106';
$poke106-x: 200px;
$poke106-y: 330px;
$poke106-offset-x: -200px;
$poke106-offset-y: -330px;
$poke106-width: 40px;
$poke106-height: 30px;
$poke106-total-width: 440px;
$poke106-total-height: 420px;
$poke106-image: '../../img/spritesheet.png';
$poke106: 200px 330px -200px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke106';
$poke107-name: 'poke107';
$poke107-x: 240px;
$poke107-y: 330px;
$poke107-offset-x: -240px;
$poke107-offset-y: -330px;
$poke107-width: 40px;
$poke107-height: 30px;
$poke107-total-width: 440px;
$poke107-total-height: 420px;
$poke107-image: '../../img/spritesheet.png';
$poke107: 240px 330px -240px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke107';
$poke108-name: 'poke108';
$poke108-x: 280px;
$poke108-y: 330px;
$poke108-offset-x: -280px;
$poke108-offset-y: -330px;
$poke108-width: 40px;
$poke108-height: 30px;
$poke108-total-width: 440px;
$poke108-total-height: 420px;
$poke108-image: '../../img/spritesheet.png';
$poke108: 280px 330px -280px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke108';
$poke109-name: 'poke109';
$poke109-x: 320px;
$poke109-y: 330px;
$poke109-offset-x: -320px;
$poke109-offset-y: -330px;
$poke109-width: 40px;
$poke109-height: 30px;
$poke109-total-width: 440px;
$poke109-total-height: 420px;
$poke109-image: '../../img/spritesheet.png';
$poke109: 320px 330px -320px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke109';
$poke110-name: 'poke110';
$poke110-x: 360px;
$poke110-y: 0px;
$poke110-offset-x: -360px;
$poke110-offset-y: 0px;
$poke110-width: 40px;
$poke110-height: 30px;
$poke110-total-width: 440px;
$poke110-total-height: 420px;
$poke110-image: '../../img/spritesheet.png';
$poke110: 360px 0px -360px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke110';
$poke111-name: 'poke111';
$poke111-x: 360px;
$poke111-y: 30px;
$poke111-offset-x: -360px;
$poke111-offset-y: -30px;
$poke111-width: 40px;
$poke111-height: 30px;
$poke111-total-width: 440px;
$poke111-total-height: 420px;
$poke111-image: '../../img/spritesheet.png';
$poke111: 360px 30px -360px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke111';
$poke112-name: 'poke112';
$poke112-x: 360px;
$poke112-y: 60px;
$poke112-offset-x: -360px;
$poke112-offset-y: -60px;
$poke112-width: 40px;
$poke112-height: 30px;
$poke112-total-width: 440px;
$poke112-total-height: 420px;
$poke112-image: '../../img/spritesheet.png';
$poke112: 360px 60px -360px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke112';
$poke113-name: 'poke113';
$poke113-x: 360px;
$poke113-y: 90px;
$poke113-offset-x: -360px;
$poke113-offset-y: -90px;
$poke113-width: 40px;
$poke113-height: 30px;
$poke113-total-width: 440px;
$poke113-total-height: 420px;
$poke113-image: '../../img/spritesheet.png';
$poke113: 360px 90px -360px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke113';
$poke114-name: 'poke114';
$poke114-x: 360px;
$poke114-y: 120px;
$poke114-offset-x: -360px;
$poke114-offset-y: -120px;
$poke114-width: 40px;
$poke114-height: 30px;
$poke114-total-width: 440px;
$poke114-total-height: 420px;
$poke114-image: '../../img/spritesheet.png';
$poke114: 360px 120px -360px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke114';
$poke115-name: 'poke115';
$poke115-x: 360px;
$poke115-y: 150px;
$poke115-offset-x: -360px;
$poke115-offset-y: -150px;
$poke115-width: 40px;
$poke115-height: 30px;
$poke115-total-width: 440px;
$poke115-total-height: 420px;
$poke115-image: '../../img/spritesheet.png';
$poke115: 360px 150px -360px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke115';
$poke116-name: 'poke116';
$poke116-x: 360px;
$poke116-y: 180px;
$poke116-offset-x: -360px;
$poke116-offset-y: -180px;
$poke116-width: 40px;
$poke116-height: 30px;
$poke116-total-width: 440px;
$poke116-total-height: 420px;
$poke116-image: '../../img/spritesheet.png';
$poke116: 360px 180px -360px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke116';
$poke117-name: 'poke117';
$poke117-x: 360px;
$poke117-y: 210px;
$poke117-offset-x: -360px;
$poke117-offset-y: -210px;
$poke117-width: 40px;
$poke117-height: 30px;
$poke117-total-width: 440px;
$poke117-total-height: 420px;
$poke117-image: '../../img/spritesheet.png';
$poke117: 360px 210px -360px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke117';
$poke118-name: 'poke118';
$poke118-x: 360px;
$poke118-y: 240px;
$poke118-offset-x: -360px;
$poke118-offset-y: -240px;
$poke118-width: 40px;
$poke118-height: 30px;
$poke118-total-width: 440px;
$poke118-total-height: 420px;
$poke118-image: '../../img/spritesheet.png';
$poke118: 360px 240px -360px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke118';
$poke119-name: 'poke119';
$poke119-x: 360px;
$poke119-y: 270px;
$poke119-offset-x: -360px;
$poke119-offset-y: -270px;
$poke119-width: 40px;
$poke119-height: 30px;
$poke119-total-width: 440px;
$poke119-total-height: 420px;
$poke119-image: '../../img/spritesheet.png';
$poke119: 360px 270px -360px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke119';
$poke120-name: 'poke120';
$poke120-x: 360px;
$poke120-y: 300px;
$poke120-offset-x: -360px;
$poke120-offset-y: -300px;
$poke120-width: 40px;
$poke120-height: 30px;
$poke120-total-width: 440px;
$poke120-total-height: 420px;
$poke120-image: '../../img/spritesheet.png';
$poke120: 360px 300px -360px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke120';
$poke121-name: 'poke121';
$poke121-x: 360px;
$poke121-y: 330px;
$poke121-offset-x: -360px;
$poke121-offset-y: -330px;
$poke121-width: 40px;
$poke121-height: 30px;
$poke121-total-width: 440px;
$poke121-total-height: 420px;
$poke121-image: '../../img/spritesheet.png';
$poke121: 360px 330px -360px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke121';
$poke122-name: 'poke122';
$poke122-x: 0px;
$poke122-y: 360px;
$poke122-offset-x: 0px;
$poke122-offset-y: -360px;
$poke122-width: 40px;
$poke122-height: 30px;
$poke122-total-width: 440px;
$poke122-total-height: 420px;
$poke122-image: '../../img/spritesheet.png';
$poke122: 0px 360px 0px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke122';
$poke123-name: 'poke123';
$poke123-x: 40px;
$poke123-y: 360px;
$poke123-offset-x: -40px;
$poke123-offset-y: -360px;
$poke123-width: 40px;
$poke123-height: 30px;
$poke123-total-width: 440px;
$poke123-total-height: 420px;
$poke123-image: '../../img/spritesheet.png';
$poke123: 40px 360px -40px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke123';
$poke124-name: 'poke124';
$poke124-x: 80px;
$poke124-y: 360px;
$poke124-offset-x: -80px;
$poke124-offset-y: -360px;
$poke124-width: 40px;
$poke124-height: 30px;
$poke124-total-width: 440px;
$poke124-total-height: 420px;
$poke124-image: '../../img/spritesheet.png';
$poke124: 80px 360px -80px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke124';
$poke125-name: 'poke125';
$poke125-x: 120px;
$poke125-y: 360px;
$poke125-offset-x: -120px;
$poke125-offset-y: -360px;
$poke125-width: 40px;
$poke125-height: 30px;
$poke125-total-width: 440px;
$poke125-total-height: 420px;
$poke125-image: '../../img/spritesheet.png';
$poke125: 120px 360px -120px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke125';
$poke126-name: 'poke126';
$poke126-x: 160px;
$poke126-y: 360px;
$poke126-offset-x: -160px;
$poke126-offset-y: -360px;
$poke126-width: 40px;
$poke126-height: 30px;
$poke126-total-width: 440px;
$poke126-total-height: 420px;
$poke126-image: '../../img/spritesheet.png';
$poke126: 160px 360px -160px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke126';
$poke127-name: 'poke127';
$poke127-x: 200px;
$poke127-y: 360px;
$poke127-offset-x: -200px;
$poke127-offset-y: -360px;
$poke127-width: 40px;
$poke127-height: 30px;
$poke127-total-width: 440px;
$poke127-total-height: 420px;
$poke127-image: '../../img/spritesheet.png';
$poke127: 200px 360px -200px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke127';
$poke128-name: 'poke128';
$poke128-x: 240px;
$poke128-y: 360px;
$poke128-offset-x: -240px;
$poke128-offset-y: -360px;
$poke128-width: 40px;
$poke128-height: 30px;
$poke128-total-width: 440px;
$poke128-total-height: 420px;
$poke128-image: '../../img/spritesheet.png';
$poke128: 240px 360px -240px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke128';
$poke129-name: 'poke129';
$poke129-x: 280px;
$poke129-y: 360px;
$poke129-offset-x: -280px;
$poke129-offset-y: -360px;
$poke129-width: 40px;
$poke129-height: 30px;
$poke129-total-width: 440px;
$poke129-total-height: 420px;
$poke129-image: '../../img/spritesheet.png';
$poke129: 280px 360px -280px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke129';
$poke130-name: 'poke130';
$poke130-x: 320px;
$poke130-y: 360px;
$poke130-offset-x: -320px;
$poke130-offset-y: -360px;
$poke130-width: 40px;
$poke130-height: 30px;
$poke130-total-width: 440px;
$poke130-total-height: 420px;
$poke130-image: '../../img/spritesheet.png';
$poke130: 320px 360px -320px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke130';
$poke131-name: 'poke131';
$poke131-x: 360px;
$poke131-y: 360px;
$poke131-offset-x: -360px;
$poke131-offset-y: -360px;
$poke131-width: 40px;
$poke131-height: 30px;
$poke131-total-width: 440px;
$poke131-total-height: 420px;
$poke131-image: '../../img/spritesheet.png';
$poke131: 360px 360px -360px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke131';
$poke132-name: 'poke132';
$poke132-x: 400px;
$poke132-y: 0px;
$poke132-offset-x: -400px;
$poke132-offset-y: 0px;
$poke132-width: 40px;
$poke132-height: 30px;
$poke132-total-width: 440px;
$poke132-total-height: 420px;
$poke132-image: '../../img/spritesheet.png';
$poke132: 400px 0px -400px 0px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke132';
$poke133-name: 'poke133';
$poke133-x: 400px;
$poke133-y: 30px;
$poke133-offset-x: -400px;
$poke133-offset-y: -30px;
$poke133-width: 40px;
$poke133-height: 30px;
$poke133-total-width: 440px;
$poke133-total-height: 420px;
$poke133-image: '../../img/spritesheet.png';
$poke133: 400px 30px -400px -30px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke133';
$poke134-name: 'poke134';
$poke134-x: 400px;
$poke134-y: 60px;
$poke134-offset-x: -400px;
$poke134-offset-y: -60px;
$poke134-width: 40px;
$poke134-height: 30px;
$poke134-total-width: 440px;
$poke134-total-height: 420px;
$poke134-image: '../../img/spritesheet.png';
$poke134: 400px 60px -400px -60px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke134';
$poke135-name: 'poke135';
$poke135-x: 400px;
$poke135-y: 90px;
$poke135-offset-x: -400px;
$poke135-offset-y: -90px;
$poke135-width: 40px;
$poke135-height: 30px;
$poke135-total-width: 440px;
$poke135-total-height: 420px;
$poke135-image: '../../img/spritesheet.png';
$poke135: 400px 90px -400px -90px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke135';
$poke136-name: 'poke136';
$poke136-x: 400px;
$poke136-y: 120px;
$poke136-offset-x: -400px;
$poke136-offset-y: -120px;
$poke136-width: 40px;
$poke136-height: 30px;
$poke136-total-width: 440px;
$poke136-total-height: 420px;
$poke136-image: '../../img/spritesheet.png';
$poke136: 400px 120px -400px -120px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke136';
$poke137-name: 'poke137';
$poke137-x: 400px;
$poke137-y: 150px;
$poke137-offset-x: -400px;
$poke137-offset-y: -150px;
$poke137-width: 40px;
$poke137-height: 30px;
$poke137-total-width: 440px;
$poke137-total-height: 420px;
$poke137-image: '../../img/spritesheet.png';
$poke137: 400px 150px -400px -150px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke137';
$poke138-name: 'poke138';
$poke138-x: 400px;
$poke138-y: 180px;
$poke138-offset-x: -400px;
$poke138-offset-y: -180px;
$poke138-width: 40px;
$poke138-height: 30px;
$poke138-total-width: 440px;
$poke138-total-height: 420px;
$poke138-image: '../../img/spritesheet.png';
$poke138: 400px 180px -400px -180px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke138';
$poke139-name: 'poke139';
$poke139-x: 400px;
$poke139-y: 210px;
$poke139-offset-x: -400px;
$poke139-offset-y: -210px;
$poke139-width: 40px;
$poke139-height: 30px;
$poke139-total-width: 440px;
$poke139-total-height: 420px;
$poke139-image: '../../img/spritesheet.png';
$poke139: 400px 210px -400px -210px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke139';
$poke140-name: 'poke140';
$poke140-x: 400px;
$poke140-y: 240px;
$poke140-offset-x: -400px;
$poke140-offset-y: -240px;
$poke140-width: 40px;
$poke140-height: 30px;
$poke140-total-width: 440px;
$poke140-total-height: 420px;
$poke140-image: '../../img/spritesheet.png';
$poke140: 400px 240px -400px -240px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke140';
$poke141-name: 'poke141';
$poke141-x: 400px;
$poke141-y: 270px;
$poke141-offset-x: -400px;
$poke141-offset-y: -270px;
$poke141-width: 40px;
$poke141-height: 30px;
$poke141-total-width: 440px;
$poke141-total-height: 420px;
$poke141-image: '../../img/spritesheet.png';
$poke141: 400px 270px -400px -270px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke141';
$poke142-name: 'poke142';
$poke142-x: 400px;
$poke142-y: 300px;
$poke142-offset-x: -400px;
$poke142-offset-y: -300px;
$poke142-width: 40px;
$poke142-height: 30px;
$poke142-total-width: 440px;
$poke142-total-height: 420px;
$poke142-image: '../../img/spritesheet.png';
$poke142: 400px 300px -400px -300px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke142';
$poke143-name: 'poke143';
$poke143-x: 400px;
$poke143-y: 330px;
$poke143-offset-x: -400px;
$poke143-offset-y: -330px;
$poke143-width: 40px;
$poke143-height: 30px;
$poke143-total-width: 440px;
$poke143-total-height: 420px;
$poke143-image: '../../img/spritesheet.png';
$poke143: 400px 330px -400px -330px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke143';
$poke144-name: 'poke144';
$poke144-x: 400px;
$poke144-y: 360px;
$poke144-offset-x: -400px;
$poke144-offset-y: -360px;
$poke144-width: 40px;
$poke144-height: 30px;
$poke144-total-width: 440px;
$poke144-total-height: 420px;
$poke144-image: '../../img/spritesheet.png';
$poke144: 400px 360px -400px -360px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke144';
$poke145-name: 'poke145';
$poke145-x: 0px;
$poke145-y: 390px;
$poke145-offset-x: 0px;
$poke145-offset-y: -390px;
$poke145-width: 40px;
$poke145-height: 30px;
$poke145-total-width: 440px;
$poke145-total-height: 420px;
$poke145-image: '../../img/spritesheet.png';
$poke145: 0px 390px 0px -390px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke145';
$poke146-name: 'poke146';
$poke146-x: 40px;
$poke146-y: 390px;
$poke146-offset-x: -40px;
$poke146-offset-y: -390px;
$poke146-width: 40px;
$poke146-height: 30px;
$poke146-total-width: 440px;
$poke146-total-height: 420px;
$poke146-image: '../../img/spritesheet.png';
$poke146: 40px 390px -40px -390px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke146';
$poke147-name: 'poke147';
$poke147-x: 80px;
$poke147-y: 390px;
$poke147-offset-x: -80px;
$poke147-offset-y: -390px;
$poke147-width: 40px;
$poke147-height: 30px;
$poke147-total-width: 440px;
$poke147-total-height: 420px;
$poke147-image: '../../img/spritesheet.png';
$poke147: 80px 390px -80px -390px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke147';
$poke148-name: 'poke148';
$poke148-x: 120px;
$poke148-y: 390px;
$poke148-offset-x: -120px;
$poke148-offset-y: -390px;
$poke148-width: 40px;
$poke148-height: 30px;
$poke148-total-width: 440px;
$poke148-total-height: 420px;
$poke148-image: '../../img/spritesheet.png';
$poke148: 120px 390px -120px -390px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke148';
$poke149-name: 'poke149';
$poke149-x: 160px;
$poke149-y: 390px;
$poke149-offset-x: -160px;
$poke149-offset-y: -390px;
$poke149-width: 40px;
$poke149-height: 30px;
$poke149-total-width: 440px;
$poke149-total-height: 420px;
$poke149-image: '../../img/spritesheet.png';
$poke149: 160px 390px -160px -390px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke149';
$poke15-name: 'poke15';
$poke15-x: 200px;
$poke15-y: 390px;
$poke15-offset-x: -200px;
$poke15-offset-y: -390px;
$poke15-width: 40px;
$poke15-height: 30px;
$poke15-total-width: 440px;
$poke15-total-height: 420px;
$poke15-image: '../../img/spritesheet.png';
$poke15: 200px 390px -200px -390px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke15';
$poke150-name: 'poke150';
$poke150-x: 240px;
$poke150-y: 390px;
$poke150-offset-x: -240px;
$poke150-offset-y: -390px;
$poke150-width: 40px;
$poke150-height: 30px;
$poke150-total-width: 440px;
$poke150-total-height: 420px;
$poke150-image: '../../img/spritesheet.png';
$poke150: 240px 390px -240px -390px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke150';
$poke151-name: 'poke151';
$poke151-x: 280px;
$poke151-y: 390px;
$poke151-offset-x: -280px;
$poke151-offset-y: -390px;
$poke151-width: 40px;
$poke151-height: 30px;
$poke151-total-width: 440px;
$poke151-total-height: 420px;
$poke151-image: '../../img/spritesheet.png';
$poke151: 280px 390px -280px -390px 40px 30px 440px 420px '../../img/spritesheet.png' 'poke151';
$spritesheet-width: 440px;
$spritesheet-height: 420px;
$spritesheet-image: '../../img/spritesheet.png';
$spritesheet-sprites: $poke001 $poke002 $poke003 $poke004 $poke005 $poke006 $poke007 $poke008 $poke009 $poke010 $poke011 $poke012 $poke013 $poke014 $poke016 $poke017 $poke018 $poke019 $poke020 $poke021 $poke022 $poke023 $poke024 $poke025 $poke026 $poke027 $poke028 $poke029 $poke030 $poke031 $poke032 $poke033 $poke034 $poke035 $poke036 $poke037 $poke038 $poke039 $poke040 $poke041 $poke042 $poke043 $poke044 $poke045 $poke046 $poke047 $poke048 $poke049 $poke050 $poke051 $poke052 $poke053 $poke054 $poke055 $poke056 $poke057 $poke058 $poke059 $poke060 $poke061 $poke062 $poke063 $poke064 $poke065 $poke066 $poke067 $poke068 $poke069 $poke070 $poke071 $poke072 $poke073 $poke074 $poke075 $poke076 $poke077 $poke078 $poke079 $poke080 $poke081 $poke082 $poke083 $poke084 $poke085 $poke086 $poke087 $poke088 $poke089 $poke090 $poke091 $poke092 $poke093 $poke094 $poke095 $poke096 $poke097 $poke098 $poke099 $poke100 $poke101 $poke102 $poke103 $poke104 $poke105 $poke106 $poke107 $poke108 $poke109 $poke110 $poke111 $poke112 $poke113 $poke114 $poke115 $poke116 $poke117 $poke118 $poke119 $poke120 $poke121 $poke122 $poke123 $poke124 $poke125 $poke126 $poke127 $poke128 $poke129 $poke130 $poke131 $poke132 $poke133 $poke134 $poke135 $poke136 $poke137 $poke138 $poke139 $poke140 $poke141 $poke142 $poke143 $poke144 $poke145 $poke146 $poke147 $poke148 $poke149 $poke15 $poke150 $poke151;
$spritesheet: 440px 420px '../../img/spritesheet.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
