// Global stylesheet: All global behaviors to the site
// -------------------------------------------------------

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	color: $black;
	font-family: $amble;
	font-size: 14px;
}

header {
	background: $red;

	h1 {
		color: $white;
		margin: 0;
	}
}

.content {
	background: $palid-gray;
}

.footer {

}