<li class="element">
    <div class="number">{{id}}</div>
    <div class="thumb {{sprites}}"></div>
    <div class="name">{{name}}</div>
    <div class="types">
        <div class="itype type-normal">type</div>
        <div class="itype type-fire">type</div>
    </div>
</li>
