<div class="wrapper">
    <div class="row">
        <div id="list" class="columns">
            
        </div>
        <div id="details" class="columns">
            
        </div>
    </div>
</div>