<div class="wrapper">
    <div class="row">
        <div id="list" class="columns">
            
        </div>
        <div id="details" class="columns">
            <div class="row">
                <div class="basic-data">
                    <div class="box">
                        <div class="row">
                            <div class="basics">
                                
                            </div>
                            <div class="description">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="stats">
                                
                            </div>
                            <div class="fisio">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="evolutions">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>