<div class="row">
    <div class="box">
        <div class="search-box">
            <input class="radius" id="search" type="text" placeholder="Search">
        </div>
        <div id="complete-list">
            <ul></ul>
        </div>
    </div>
</div>